<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jiyun.qcloud.dashixummoban">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="design_width"
            android:value="768" />
        <meta-data
            android:name="design_height"
            android:value="1280" />

        <activity android:name=".activity.PersonalActivity"></activity>
        <activity android:name=".activity.LoginActivity"></activity>
        <activity android:name=".activity.RegistActivity"></activity>
        <activity android:name=".activity.ForgetActivity"></activity>
        <activity android:name=".activity.HistoryActivity"></activity>
        <activity android:name=".activity.CollectionActivity"></activity>
        <activity android:name=".activity.SetActivity"></activity>
        <activity android:name=".activity.AboutActivity"></activity>
        <activity android:name=".ui.broadcast.activity.BroadWebActivity"></activity>
        <activity android:name=".ui.gungun.activity.PandaFileActivity"></activity>
        <activity android:name=".ui.gungun.activity.GunVideo"></activity>
        <activity android:name=".campaign.CampaignActivity"></activity>
        <activity
            android:name=".ui.broadcast.activity.BroadPlay"
            android:configChanges="orientation"
            android:screenOrientation="portrait"></activity>

    </application>

</manifest>